	<h5>Antenna</h5>
	<label for="label">Name</label><input type="name" placeholder="Name">
	<label for="name">Description</label><input type="description" placeholder="Description">
	<label for="Power Transmitted">Ptx</label><input type="ptx" placeholder="Antenna location?">
	<!--ask Jim, this needs work-->
	<div class="find-reset-buttons">
		<button class="button-primary" id="search-button" ng-click="showme=true">Create | View</button>
		<button id="reset-button" ng-click="showme=false">Reset Fields</button>
	</div>