	<div class="four columns create">
		<div class="border">
			<ui-view></ui-view>
<!-- 			<div class="find-reset-buttons">
				<button class="button-primary" id="search-button" ng-click="showme=true">Create | View</button>
				<button id="reset-button" ng-click="showme=false">Reset Fields</button>
			</div> -->
		</div>
	</div>
	<div class="four columns result">
		<div class="border" id="result-panel" ng-show="showme">
			<div>
				<ul>Returned Objects:
					<li ng-repeat="object in objects">
						{{object.name}} | {{object.type}}
					</li>
				</ul>
			</div> 
			<div class="find-reset-buttons">
				<button class="button-primary" id="add-button">Add to List</button>
				<button id="blank-button">Reset</button>
			</div>
		</div>
	</div> 