	<h5>Orbital Description Object</h5>
	<h6>Custom Object with Keplerian Parameters</h6>

	<label for="Altitude">Altitude</label><input type="name" placeholder="Altitude in WGS84 meters above ellipsoid">
	<label for="Inclination">Inclination</label><input type="float" placeholder="0.0 - 180.0 degrees">
	<label for="Eccentricity">Eccentricity</label><input type="float" placeholder="0.0 - 1.0">
	<label for="RAAN">RAAN</label><input type="float" placeholder="0 - 360">
	<label for="Perigee">Argument of Perigee</label><input type="float" placeholder="usually 0">
	<label for="Anamoly">True Anamoly</label><input type="float" placeholder="usually 0">
	<h6>Epoch in Date-Time</h6>
	<label for="epoch">yyyy.MM.dd, HH:mm:ss</label><input type="datetime" placeholder="yyyy.MM.dd, HH:mm:ss">
	
	<!--form validation-->